# private key to submit txs with
PRIVATE_KEY=0x

# default local rpc url
RPC_URL="http://localhost:8545"

### contract deployment values

# the `astriaOracleCallerAddress` built into the astria-geth node
# in production, the private key for this address must NOT be known.
EVM_ORACLE_SENDER_ADDRESS=0x0000000000000000000000000000000000000088

### contract call values

ORACLE_CONTRACT_ADDRESS=0x
