# private key to submit txs with
PRIVATE_KEY=0x

# default local rpc url
RPC_URL="http://localhost:8545"

### AstriaOracle contract deployment values

# the `astriaOracleCallerAddress` built into the astria-geth node
# in production, the private key for this address must NOT be known.
EVM_ORACLE_SENDER_ADDRESS=0x0000000000000000000000000000000000000088

### AstriaOracle contract call values

ORACLE_CONTRACT_ADDRESS=0x
# the private key for `EVM_ORACLE_SENDER_ADDRESS`; this should only be known for
# contract testing 
EVM_ORACLE_SENDER_ADDRESS_PRIVATE_KEY=0x
CURRENCY_PAIR_A="ETH/USD"
CURRENCY_PAIR_B="BTC/USD"

### Aggregator contract deployment values
CURRENCY_PAIR="ETH/USD"

### Aggregator contract call values
AGGREGATOR_CONTRACT_ADDRESS=0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9
